<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQL_CONNECTION_KEY" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\FusionDB\DataFusionPC.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>